<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292273085925-umb845qa1nvdslcr4j9lmjq87av6ur63.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292273085925-umb845qa1nvdslcr4j9lmjq87av6ur63</string>
	<key>API_KEY</key>
	<string>AIzaSyCrNjSWUtxVoftdTOH4C595EACJA3Lwx3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>292273085925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Dante.flashchat13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-1a0d2</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-1a0d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292273085925:ios:45e5adc9f25dbcd130a30c</string>
</dict>
</plist>